body{
    margin: 0;
    padding: 0;
}

li{
    display: inline;
    color:white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
    vertical-align: middle;
    margin-left: 5%;
    margin-top: 20px;
}

a {
    display: inline;
    color:white;
    text-decoration: none; 
    font-family: 'Barlow Semi Condensed', sans-serif;
}

ul {
     list-style: none;
     margin: 0;
     padding: 0;
     margin-top: 10px;
}

p {
    font-family: 'Barlow Semi Condensed', sans-serif;
}


/*...navigation...*/
.nav-holder{
    height: 55px;  
    background-color: #03112D;
    padding-top: 10px;
}

li b {
    position: relative;
    margin-left: 30%;
    font-size: 20px;
    color: white;
    font-weight: normal;
}

.logo-nav {
    float: left;
    margin-left: 2%;
}

.logo-nav:hover {
    float: left;
    margin-left: 2%;
    cursor: pointer;
}

.logo-text {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 15px;
    float: left;
    margin-top: 2px;
    color: white;
    margin-left: 0.5%;
}

.signout-button {
    height: 25px;
    width: 7%;
    background-color: #9C2EDF;
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 15px;
    float: right;
    text-align: center;
    margin-right: 5%;
    border: 1px solid white;
    transition: all 0.5s;
}

.signout-button:hover {
    height: 25px;
    width: 7%;
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 15px;
    float: right;
    text-align: center;
    margin-right: 5%;
    background-color:transparent;
    border: 1px solid #9C2EDF;
    color: #9C2EDF;
    cursor: pointer;
    
}

.main-block {
width: 100%;
height: 900px;
float: left;
}

/*...John Wick Images...*/
.johnwick-blur {
    width: 100%;
    height: 900px;
    background-image: url(../Images/johnwickblur.jpg);
    position: absolute;
    float: left;
    background-size: cover;
}

.johnwick-image {
    position: relative;
    height: 700px;
    width: 85%;
    margin-left: 7.5%;
    margin-top: 80px;
    float: left;
    background-image: url(../Images/johnwick2.jpg);
    background-size: cover;
}

/*...Movie Info...*/
.info-block {
    width: 50%;
    height: 100%;
    float: left;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 46px 0px 48px 11px rgba(0,0,0,0.8);
    -webkit-box-shadow: 46px 0px 48px 11px rgba(0,0,0,0.8);
    -moz-box-shadow: 46px 0px 48px 11px rgba(0,0,0,0.8);
}

.info {
    width: 70%;
    margin-left: 15%;
}

.title {
    color: white;
    font-size: 60px;
    margin-top: 50px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.rating {
    color: white;
    font-size: 15px;
    margin-top: 20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    vertical-align: middle;
}
.basics {
    color: white;
    font-size: 20px;
    margin-top: 50px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.director {
    color: white;
    font-size: 15px;
    margin-top: 20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.stars {
    color: white;
    font-size: 15px;
    margin-top: 20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.story {
    color: white;
    font-size: 15px;
    margin-top: 20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}


/*...footer...*/
.footer {
    width: 100%;
    height: 60px;
    background-color: #03112D;
    float: left;
    margin-top: 65px;
}

.logo-footer {
    float: left;
    margin-left: 2%;
    margin-top: 12px;
}

.footer-text {
    float: left;
    font-size: 12px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    margin-top: 22px;
    margin-left: 1%;
}

.instagram {
    margin-left: 2%;
    margin-top: 15px;
    float: right;
    margin-right: 2%;
}

.facebook {
    margin-left: 2%;
    margin-top: 15px;
    float: right;
}

.twitter {
    margin-top: 15px;
    float: right;
}

.instagram:hover {
    cursor: pointer;
    margin-left: 2%;
    margin-top: 15px;
    float: right;
    margin-right: 2%;
}

.facebook:hover {
    cursor: pointer;
    margin-left: 2%;
    margin-top: 15px;
    float: right;
}

.twitter:hover {
    cursor: pointer;
    margin-top: 15px;
    float: right;
}
