body{
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white
}


/*...navigation...*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
  border-bottom: 1px solid #E2E8F0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #04163a;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
}

.nav-link:hover{
  color: #9C2EDF;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #9C2EDF;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #04163a;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
}









/*...footer...*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-decoration: none;
}
footer{
  width: 100%;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
  font-size: 15px;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 20px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #9C2EDF;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #9C2EDF;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #9C2EDF;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #9C2EDF;
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #9C2EDF;
}
footer a{
  transition: all 0.3s ease;
  font-size: 15px;
}
footer a:hover{
  color: #9C2EDF;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}


/*...content...*/

.background {
  height: 900px;
  background-color: #04163a;
  padding-top: 50px;
  position: relative;
}

.main-block {
  height: 800px;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 18px 0px 38px 32px rgba(0,0,0,0.75);
  -webkit-box-shadow: 18px 0px 38px 32px rgba(0,0,0,0.75);
  -moz-box-shadow: 18px 0px 38px 32px rgba(0,0,0,0.75);
}

.movie-image {
  height: 800px;
  background-size: cover;
  margin-left: 50px;
  margin-right: 50px;
}

.title {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 100px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: white;
}

.rating {
  text-align: center;
  font-size: 60px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: white;
}

.desc {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: white;
}

.status {
  font-size: 20px;
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: white;
}

.tagline {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: white;
}

.language {
  font-size: 20px;
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: white;
}

.watch-later-container{
  position: absolute;
  bottom: 100px;
  margin-left: 50px;
}

.watch-later-btn{
  width: 100%;
    font-size: 18px;
    color: #d9d9d9;
    background: #9C2EDF;
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #9C2EDF;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.watch-later-btn:hover{
    color: #9C2EDF;
    background: transparent;
}

