 .row{
    background-color: #03112D !important;
    height: 100vh;
 }

 .main-container{
    height: 650px;
    background: white;   
    margin-top: 150px !important;
    box-shadow: 13px 9px 61px -18px rgba(156,46,223,0.73);
-webkit-box-shadow: 13px 9px 61px -18px rgba(156,46,223,0.73);
-moz-box-shadow: 13px 9px 61px -18px rgba(156,46,223,0.73);
 }

 .slider{
    height: 750px; 
    background-color: #03112D;
    border: 2px solid white;
    position: relative;
    top: -50px;
    left: -20px;


 }